<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sfasrvvm.tosco.co.jp</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sfasrvvm:8172</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/sfa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>1168@tosco.co.jp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DailyReportMvcApplication.Models.DailyReportContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SFASRVVM;Initial Catalog=sfa;Persist Security Info=True;User ID=sa;Password=sqlserver1Manager" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DailyReportMvcApplication.Models.DailyReportContext, DailyReportMvcApplication" MigrationConfiguration="DailyReportMvcApplication.Migrations.Configuration, DailyReportMvcApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DailyReportMvcApplication.Models.DailyReportContext-Web.config Connection String">
      <ParameterValue>Data Source=SFASRVVM;Initial Catalog=sfa;Persist Security Info=True;User ID=sa;Password=sqlserver1Manager</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DailyReportMvcApplication.Models.DailyReportContext" />
  </ItemGroup>
</Project>