@{
    ViewBag.Title = "トップページ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
         </div>
    </section>
}
<h3>このシステムについて</h3>
<ol class="round">
    <li class="one">
        <h5>はじめに</h5>
        営業活動情報（資産）を収集・蓄積し、共有と分析が行える環境を整えることで、
新たな営業活動の創出や効率化を図ることを目的に、活動報告を登録するシステムを作成いたしました。
現在ドラフト版で、最低限の機能しかありませんので、要望があればシステム企画までリクエストください。
    </li>
    <li class="two">
        <h5>注意事項1</h5>
        Proxyを経由すると、Windows認証がうまく動作しません。お手数ですが、Proxyの例外設定に*.tosco.co.jpを追加願います。
    </li>
    <li class="three">
        <h5>注意事項2</h5>
        ブラウザ（FireFox）によってはログインダイアログが表示される場合があります。その場合、ユーザ名として「社番@tosco.co.jp」　パスワードとして「ADパスワード」（パソコンログイン時のパスワード）を入力してください。
    </li>
</ol>
