@{
    ViewBag.Title = "Dummy";
}

<h2>Dummy</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            window.close();
        });
    </script>
}
